<div class="example-wrapper">
  <div style="margin-bottom: 5px">
    <input
      type="text"
      id="filter-text-box"
      placeholder="Filter..."
      (input)="onFilterTextBoxChanged()"
    />
  </div>
  <ag-grid-angular
    #agGrid
    style="width: 98vw; height: 90vh"
    [sideBar]="sideBar"
    id="myGrid"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [treeData]="true"
    [animateRows]="true"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [getDataPath]="getDataPath"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [isFullWidthCell]="isFullWidthCell"
    [fullWidthCellRenderer]="fullWidthCellRenderer"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
